Options Indexes FollowSymLinks
RewriteEngine On
RewriteBase /
DirectoryIndex index.html
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html [L]